<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.Test35CMSPremios</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CMSPremiosTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSPremiosEliminar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSPremiosEditar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CMSPremiosCrear</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>IngresoAmbiente</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>IrHome</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CloseChrome</td>
<td>&nbsp;</td></tr>
</table>
